.ContactPage{
	height:70vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $medium;
	color: rgba($medium,0.7);
	.contactCard{
		height: 30rem;
		margin: 0;
		text-align: center;
		background-image: 	linear-gradient(105deg,
											rgba(255,255,255,0.9) 0%,
											rgba(255,255,255,0.9) 50%,
											transparent 50%),
							url('../images/violet.jpg');
		background-size:cover;
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.2);
		.contactSection{
			width: 50%;
			padding-top: 4rem;
			.contactForm{
				display: flex;
				margin: 0 auto;
				padding-top: 2rem;
				flex-direction: column;
				width: 70%;
				gap:2rem;
				& > *{
					padding: 0.5rem 1rem;
					min-height: 2.5rem;
					border-radius: 3px;
					border:none;
					box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.2);
				}
				& > *:focus{
					outline:none;
					border-bottom: solid 2px $medium-light;
					box-shadow: 0 0.2rem 1rem rgba(0,0,0,0.2);
				}
				.message{
					min-height: 5rem;
				}
			}
			.button{
				padding: 0.5rem 2rem;
				margin: 2rem 0;
				background-color: rgba($medium,0.7);
				color:white;
				border:none;
				border-radius: 15px;
				font-size: 0.9rem;
				box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.2);
				&:hover{
					transform:scale(1.06);
					box-shadow: 0 0.2rem 1rem rgba(0,0,0,0.2);
				}
			}
		}
	}
}

@media  (max-width: 768px){
	.ContactPage .contactCard{
		width: calc(100vw - 3rem);
		background-image:url('../images/violet.jpg');
		.contactSection{
			width: 100%;
			background-color: rgba(255,255,255,0.7);
			padding-bottom: 1.3rem;
		}
	}
}
@media (min-width: 768px){
	.ContactPage .contactCard{
		width: calc(100vw - 8.5rem);
	}
}
/*@media (min-width: 992px){
	.ContactPage .contactCard{
		width: calc(100vw - 10rem);
	}
}*/
@media (min-width: 1200px){
	.ContactPage .contactCard{
		width: calc(100vw - 21rem);
	}
}
@media (min-width: 1555px){
	.ContactPage .contactCard{
		width: calc(100vw - 31rem);
	}
}