.ProjectPage{
	color:$dark;
	padding: $page-padding-default;
	text-align: center;
	scroll-margin-top: 5rem;
	h1{
		padding-bottom: 2rem;
	}
	.projects{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.Twist{

		min-width:25rem;
		width: 70%;
		box-shadow: 13px 15px rgba($medium, 0.03);
		transition:0.5s;
		&:hover{
			cursor: pointer;
			transform: translate(13px, 15px);
			box-shadow: none;
		}
		img{
			width: 100%;
		}
		
	}
	#TwistDetails{
		width: 0;
		height: 0;
		position: fixed;
		top: 0;
		overflow-x:hidden;
		transition: 0.5s;
		border-left: 15vw solid rgba(55, 52, 116, 0.01);
	    border-right: 15vw solid rgba(55, 52, 116, 0.1);
	    background: white;
		img{
			height: 100%;
		}
	}

}

@media  (max-width: 600px){
	.ProjectPage{
		padding:1rem;
	}
}
@media  (min-width: 600px){
	.ProjectPage{
		padding:1rem;
		.project{
			flex-basis: 100%;
		}
	}
}
@media (min-width: 768px){
	.ProjectPage{
		padding: 2rem 2.5rem;
		.project{
			flex: 0 0 45%;
		}
	}
}
@media (min-width: 1200px){
	.ProjectPage{
		padding: 2rem 8rem;
	}
}
@media (min-width: 1555px){
	.ProjectPage{
		padding: 2rem 13rem;
	}
}